@model int

<a asp-controller="@WebConstants.OrdersController"
   asp-action="@nameof(OrdersController.Delete)"
   asp-route-id="@Model"
   data-toggle="tooltip" title="Cancel order"
   class="btn btn-@FormActionEnum.Delete.ToStyle()">
    <i class="fa fa-trash"></i>
</a>