@model OrderListingServiceModel
@{
    ViewData["Title"] = "Order Details";
}

<h1 class="d-flex justify-content-between align-items-center">
    Order details
    <partial name="_OrderDeleteButtonPartial" for="Id" />
</h1>

<partial name="_OrderDetailsPartial" model="Model" />
