@model CourseFormModel

<h1>@Model.Action course</h1>

<section class="col-md-6">
    <form asp-action="@Model.Action" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TrainerId" class="control-label"></label>
            <select asp-for="TrainerId" class="form-control" asp-items="Model.Trainers">
                <option value="-1" selected disabled>Choose...</option>
            </select>
            <span asp-validation-for="TrainerId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>

        <partial name="_FormSubmitPartial" for="Action" />
    </form>
</section>

<div>
    <a asp-area="" asp-controller="Courses"
       asp-action="@nameof(LearningSystem.Web.Controllers.CoursesController.Index)">Back to Courses</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
