@model IEnumerable<ExamSubmissionServiceModel>
@{
    ViewData["Title"] = "Exam Submissions";
}

<h1>Exam submissions</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Submission date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exam in Model)
        {
            <tr>
                <td>
                    @exam.SubmissionDate.ToLocalTime()
                </td>
                <td>
                    <a asp-controller="@WebConstants.ExamsController"
                       asp-action="@nameof(ExamsController.Download)"
                       asp-route-id="@exam.Id" class="px-1">
                        <i class="fa fa-download btn btn-outline-info"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>