@model AdminRoleFormModel
@*Button trigger modal*@
<button type="button" class="btn btn-sm btn-@Model.Action.ToStyle()" data-toggle="modal" data-target="#roleModal-@Model.Name">
    @switch (Model.Action)
    {
        case FormActionEnum.Add: // intentional fall-through
        case FormActionEnum.Create:<i class="fa fa-plus"></i>
            break;
        case FormActionEnum.Delete: // intentional fall-through
        case FormActionEnum.Remove:<i class="fa fa-trash"></i>
            break;
        default: break;
    }
</button>

@*Modal*@
<div class="modal fade text-left" id="roleModal-@Model.Name" tabindex="-1" role="dialog" aria-labelledby="examModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="roleModalLabel">@Model.Action.ToFriendlyName() role</h5>
            </div>
            <div class="modal-body">
                <partial name="_RoleCreateDeleteFormPartial" model="Model" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
