@model AdminRoleFormModel
@{
    var isDeleteDisabled = Model.Action == FormActionEnum.Delete;
}

@if (isDeleteDisabled)
{
    <p class="text-danger">Are you sure you want to delete this role?</p>
}

<form asp-action="@Model.Action.ToFriendlyName()" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Name" class="form-control" placeholder="Role name" readonly="@isDeleteDisabled" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mr-0">
        <input type="submit" value="@Model.Action.ToFriendlyName()" class="btn btn-@Model.Action.ToStyle()" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}