@model AdminUserRoleFormModel

<form asp-action="@nameof(UsersController.RoleAddRemoveUserAsync)" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Action" value="@FormActionEnum.Remove" hidden />
    <input asp-for="UserId" hidden />
    <input asp-for="Role" hidden />

    <button type="submit" class="btn btn-sm btn-@StyleHelpers.ToStyle(FormActionEnum.Remove)"><i class="fa fa-minus"></i></button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}