@model AdminUserRoleFormModel

@if (Model != null)
{
    <form asp-action="@nameof(UsersController.UpdateUserRole)" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Action" value="@FormActionEnum.Add" hidden />
        <input asp-for="UserId" hidden />
        <div class="d-flex">
            <select name="Role" asp-items="@Model.Roles" class="form-control"></select>
            <button type="submit" data-toggle="tooltip" title="Add to role" class="btn btn-@StyleHelpers.ToStyle(FormActionEnum.Add)"><i class="fa fa-plus"></i></button>
        </div>
    </form>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}