@model StudentCourseGradeFormModel

<form asp-action="@nameof(TrainersController.EvaluateExam)"
      asp-route-id="@Model.CourseId" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="CourseId" hidden />
    <input asp-for="StudentId" hidden />

    <div class="form-group d-flex p-0 m-0">
        <div class="form-group m-0">
            <input asp-for="GradeBg" class="form-control" type="number" min="2" max="6" step="0.01" required />
            <span asp-validation-for="GradeBg" class="text-danger"></span>
        </div>
        <partial name="_FormSubmitPartial" model="FormActionEnum.Grade" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}