@model UserServiceModel

@if (Model != null)
{
    <section class="d-flex justify-content-between align-items-center flex-wrap">
        <h1>@Model.Name</h1>
        <h5 class="text-info">
            <i class="fa fa-user"></i>
            @Model.Username
        </h5>
        <h5 class="text-info">
            <i class="fa fa-envelope"></i>
            <partial name="_EmailPartial" for="Email" />
        </h5>
    </section>
}