@model CoursePageListingViewModel
@{
    ViewData["Title"] = "Trainings";
}

@if (Model.Courses.Any(c => c.CanBeEvaluated))
{
    <partial name="_CoursesToEvaluatePartial" for="Courses" />
}

<header class="d-flex flex-wrap justify-content-between align-items-center">
    <h1>Trainings</h1>
    <partial name="_SearchPartial" for="Search" />
</header>

<partial name="_CoursesListPartial" model="@Model" />