@model CoursePageListingViewModel

@if (Model.Courses.Any())
{
    <section class="d-flex flex-wrap card-deck">
        @foreach (var course in Model.Courses)
        {
            <partial name="_CourseCardPartial" model="@course" />
        }
    </section>
}
else
{
    <h4>No courses</h4>
}

@*<partial name="_PaginationPartial" for="Pagination" />*@
