@model CourseBasicViewModel

<a asp-area=""
   asp-controller="@WebConstants.CoursesController"
   asp-action="@nameof(University.Web.Controllers.CoursesController.Details)"
   asp-route-id="@Model.Id"
   asp-route-name="@Model.Name?.ToFriendlyUrl()"
   data-toggle="tooltip" title="Course details" class="btn btn-outline-info mx-1">
    <i class="fa fa-info"></i>
</a>