@model AdminUserListingServiceModel

@if (Model != null)
{
    <span class="mx-1">
        <a href="mailto:@Model.Email"><i class="fa fa-envelope text-info"></i></a>
        @Model.Name, @Model.Username
    </span>   
}