@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center box-shadow p-5 mb-5">
    <h1 class="display-4">Welcome to Learning System</h1>
</div>

<p>
    <img src="https://images.yourstory.com/cs/2/5739db30-22e7-11e9-9aaa-0334d2a19842/ed-tech1553237040995.png" alt="Learning" class="w-100" />
</p>
