@model UserProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<partial name="_ProfilePartial" for="User" />

<h3>
    Roles:
    @if (Model.Roles.Any())
    {
        <span class="lead">@string.Join(", ", Model.Roles.Select(s => s.ToFriendlyName()))</span>
    }
    else
    {
        <span class="lead">No roles</span>
    }
</h3>

<h3>
    Courses:
    @if (!Model.Courses.Any())
    {<span>No courses</span>}
</h3>

@if (Model.Courses.Any())
{
    <section class=" card-deck d-flex justify-content-start">
        @foreach (var course in Model.Courses)
        {
            <partial name="_ProfileCoursePartial" model="@course" />
        }
    </section>
}
