@model int

<form method="post" enctype="multipart/form-data"
      asp-action="@nameof(LearningSystem.Web.Controllers.CoursesController.UploadExam)"
      asp-route-id="@Model">
    <p>
        Upload exam (.@DataConstants.FileType only, max size @DataConstants.FileMaxLengthInMb MB):
    </p>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group d-flex justify-content-between align-items-center">
        <input name="examFile" type="file" class="form-control-file" accept=".zip" />
        <partial name="_FormSubmitPartial" model="FormActionEnum.Upload" />
    </div>
</form>

@section Scripts {<partial name="_ValidationScriptsPartial" />}