@model CoursePageListingViewModel

@{
    ViewData["Title"] = "Courses Archive";
}

<h1 class="d-flex flex-wrap justify-content-between align-items-center">
    Courses archive
    <a class="btn bnt-lg btn-outline-info"
       asp-action="@nameof(LearningSystem.Web.Controllers.CoursesController.Index)">Active</a>
</h1>

<partial name="_CoursesListPartial" model="@Model" />