@model CoursePageListingViewModel

@{
    ViewData["Title"] = "Courses Archive";
}

<header class="d-flex flex-wrap justify-content-between align-items-center">
    <h1>Courses archive</h1>
    <partial name="_SearchPartial" for="Search" />

    <a asp-action="@nameof(LearningSystem.Web.Controllers.CoursesController.Index)"
       asp-route-search="@Model.Search.SearchTerm" class="btn bnt-lg btn-outline-info">Active</a>
</header>

<partial name="_CoursesListPartial" model="@Model" />