@model CourseBasicViewModel

<a asp-controller="@WebConstants.CoursesController"
   asp-action="@nameof(LearningSystem.Web.Controllers.CoursesController.Details)"
   asp-route-id="@Model.Id"
   asp-route-name="@Model.Name.ToFriendlyUrl()"
   data-toggle="tooltip" title="Details" class="btn btn-outline-info">
    <i class="fa fa-info"></i>
</a>