@model int

<form asp-controller="@WebConstants.CoursesController"
      asp-action="@nameof(LearningSystem.Web.Controllers.CoursesController.Cancel)"
      asp-route-id="@Model" method="post" class="bg-transparent border border-white">
    <partial name="_FormSubmitPartial" model="@FormActionEnum.Cancel" />
</form>
