@model int

<form asp-controller="@WebConstants.CoursesController"
      asp-action="@nameof(LearningSystem.Web.Controllers.CoursesController.Enroll)"
      asp-route-id="@Model" method="post" class="bg-transparent border border-white">
    <button type="submit" class="btn btn-@StyleHelpers.ToStyle(FormActionEnum.Enroll)">@FormActionEnum.Enroll</button>
</form>
