@model FormActionEnum

@{
    var cssStyle = WebConstants.PrimaryStyle;
    switch (Model)
    {
        case FormActionEnum.Create: cssStyle = WebConstants.CreateStyle; break;
        case FormActionEnum.Edit: cssStyle = WebConstants.EditStyle; break;
        case FormActionEnum.Delete: cssStyle = WebConstants.DeleteStyle; break;
        case FormActionEnum.Add: cssStyle = WebConstants.CreateStyle; break;
        case FormActionEnum.Remove: cssStyle = WebConstants.DeleteStyle; break;
        default: break;
    }
}

<div class="form-group">
    <input type="submit" value="@Model" class="btn btn-block btn-outline-@cssStyle" />
</div>
