@model FormActionEnum

@{
    var cssStyle = WebConstants.Styles[Model.ToString()];
}

<div class="form-group">
    <input type="submit" value="@Model" class="btn btn-block btn-outline-@cssStyle" />
</div>
