<li class="nav-item">
    <a class="nav-link text-dark"
       asp-area=""
       asp-controller="@WebConstants.CoursesController"
       asp-action="@nameof(LearningSystem.Web.Controllers.CoursesController.Index)">Courses</a>
</li>