@model SearchViewModel

<form asp-action="@Model.Action" method="get" class="form-inline">
    <div class="form-group d-flex m-0">
        <input type="search" name="search" value="@Model.SearchTerm" placeholder="@Model.Placeholder" class="form-control mr-1" />
        <partial name="_FormSubmitPartial" model="@FormActionEnum.Search" />
    </div>
</form>
