@model CoursePageListingViewModel

@{
    ViewData["Title"] = "Home Page";
}

<partial name="_WelcomePartial" />

<header class="d-flex flex-wrap justify-content-between align-items-center">
    <h1>Active &amp; upcoming courses</h1>
    <partial name="_SearchPartial" for="Search" />
</header>

<partial name="_CoursesListPartial" model="@Model" />
