/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*
@import url('bootstrap.min(materia).css');
@import url('bootstrap.min(yeti).css');
@import url('bootstrap.min(cerulean).css');
@import url('bootstrap.min(litera).css');
@import url('bootstrap.min(sketchy).css');
@import url('bootstrap.min(cosmo).css');
@import url('bootstrap.min(spacelab).css');
*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/*Links*/

a, a:hover {
    text-decoration: none;
}

    /*Blog article card links*/
    a.article-card-link {
        color: #212529;
    }

        a.article-card-link:hover .card-body .card-title {
            color: #27a243;
        }

        a.article-card-link:hover .card-body {
            background-color: #f8f9fa;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }

        a.article-card-link:hover .card-footer {
            color: #ffffff;
            background-color: #28a745;
        }

/*Courses*/
.bg-gradient {
    background-image: linear-gradient(to bottom right, #081025, #228acc);
    color: white;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
