@model AdminUserListingViewModel
@{
    ViewData["Title"] = "User Administration";
}

<h1>User administration</h1>

<section>
    <header class="row p-2">
        <div class="col-md-3"><i class="fa fa-user"></i> Username</div>
        <div class="col-md-4">Name / <i class="fa fa-envelope"></i> Email</div>
        <div class="col-md-5"><i class="fa fa-tag"></i> Roles</div>
    </header>
    @foreach (var user in Model.Users)
    {
        var model = Model.RoleFormModel;
        model.UserId = user.Id;
        <article class="d-flex flex-wrap box-shadow py-2 my-1">
            <div class="col-md-3">@user.Username</div>
            <div class="col-md-4">@user.Name (@user.Email)</div>
            <div class="col-md-5 d-flex flex-wrap justify-content-between">
                @{ model.Action = FormActionEnum.Add; }
                <partial name="_UserRoleFormPartial" model="model" />
                @{ model.Action = FormActionEnum.Remove; }
                <partial name="_UserRoleFormPartial" model="model" />
            </div>
        </article>
    }
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}