@model string

@if (Model != null)
{
    <form asp-area=""
          asp-controller="@WebConstants.CertificatesController"
          asp-action="@nameof(CertificatesController.Download)"
          asp-route-id="@Model" method="post">
        <button type="submit" class="btn btn-lg" data-toggle="tooltip" title="Download certificate">
            <h1><i class="fa fa-certificate text-info"></i></h1>
        </button>
    </form>
}